nav {
    background-color: unset;
}
body > nav, header nav {
    box-shadow: unset;
}

a.zola-anchor {
    color: unset;
}

.zola-anchor > svg {
    height: 0.9em;
}

ul > li {
    list-style-type: "# ";
}

h1 > a {
    color: unset;
}