{% extends "base.html" %}}

{% block title %}
TuftedDeer
{% endblock title %}
{% block content %}
    <h2>Posts:</h2>
        

        {% for item in posts_meta %}

            <div class="card">
                <a href={{item.rendered_to}}>

                    {% if item.header.title is defined %}
                        <h4>{{ item.header.title}}</h4>
                    {% else %}
                        {{ item.source_file }}
                    {% endif %}
                </a>

                <p> {{ item.preview_text }} </p>
            </div>
        {% endfor %}

{% endblock content %}
