{% extends "base.html" %}

{% block title %}
    {% if header.title is defined %}
        {{ header.title}}
    {% endif %}
{% endblock title %}
{% block content %}

{% if header.draft is defined and header.draft == true%}
        <blockquote>
            This post is a draft
        </blockquote>
{% endif %}

<div>
    <div>
        
        <span>
            {% if header.date is defined %}
                {{ header.date | date(format="%d.%m.%Y") }}
            {% endif %}
        </span>
            <br>
            <span><b>Content</b></span>
            {{ make_toc(
                open_list = "<ul>",
                close_list = "</ul>",
                open_list_item = "<li>",
                close_list_item = "</li>",
                skip_first = true,
            ) }}

        <article>
            
            {{ markdown_content }}
        </article>

    </div>
    <div>
        <h5>Latest posts</h5>
        <aside>
      <nav>
        <ul>
        {% for item in posts_meta %}
            <li> <a href=/{{item.rendered_to}}> {{item.header.title}} </a></li>

        {% endfor %}
      </ul>
      </nav>
        </aside>
    </div>
</div>

{% endblock content %}
